<section class="md:px-12 sm:px-8 relative  border-zinc-700 2xl:border-x hidden md:block">
  <div class="border-x border-zinc-700 h-14">

  </div>
</section>
<section class="md:px-12 sm:px-8 relative border-y border-zinc-700 2xl:border-x" style="">
  <div class="border-x border-zinc-700">
    <div
      class=" p-px lg:rounded-[3rem] overflow-hidden bg-gradientTopRight ring-1 ring-zinc-700"
    >
      <div class="bg-black/50 lg:bg-transparent backdrop-blur-3xl lg:backdrop-blur-none">
        <div
          class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-24 items-center relative 0 w-full"
        >
          <div>
            <span
              class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-zinc-700 shadow-inset ring-inset"
            >
              <p>1 Spot left</p>
              <div class="h-2 w-2 rounded-full bg-white"></div>

               <div class="h-2 w-2 rounded-full  border-white/20 border"></div>
            </span>
            <h2
              class="text-5xl capitalize tracking-tighter font-normal md:text-6xl text-white mt-12"
            >
            Web & Software development <span class=" underline">subscriptions</span>
            <span class="md:block">to scale your life and business.</span>
            </h2>
          </div>
          <ul
            class="grid grid-cols-1 text-zinc-300 text-base lg:grid-cols-2 max-w-2xl gap-4 group h-full mt-12"
          >
            <div>
              <p class=" text-balance">
                With Troisieme Oeil, unlock unlimited software possibilities at <span class="underline"> a fixed monthly rate</span> and a generous design requests limit!
              </p>
            </div>
            <div>
              <p >
                No more hassle with phone calls and lengthy contracts;  just connect with Troisieme Oeil whenever you need.
              </p>
            </div>
            <em class="col-span-full text-2xl mt-8">
              <p >
                Take control of your subscription: <br /> halt or cancel whenever it suits you. <span class="block text-pink-600"
                  >⏤ No questions asked.</span
                >
              </p>
            </em>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
