<section
  class="md:px-12 sm:px-8 relative border-zinc-700 2xl:border-x hidden md:block"
>
  <div class="border-x border-zinc-700 h-14"></div>
</section>
<section
  class="md:px-12 sm:px-8 relative border-y border-zinc-700 2xl:border-x"
  style=""
>
  <div class="border-x border-zinc-700">
    <div
      class="p-px lg:rounded-[3rem] overflow-hidden bg-gradientToTop   ring-1 ring-zinc-700"
    >
      <div
        class="bg-black/50 lg:bg-transparent backdrop-blur-3xl lg:backdrop-blur-none"
      >
        <div
          class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-24 items-center relative 0 w-full"
        >
          <div>
            <h2 class="text-4xl font-normal text-white">
              Founders turn to StudioMax when success is non-negotiable. Our
              reputation for design expertise and swift execution precedes us,
              drawing clients who prioritize excellence. Yet, more often than
              not, it's the word-of-mouth referrals from trusted sources – be it
              an investor, a friend, or a connection on Twitter/X – that bring
              clients to StudioMax. With over a decade of experience and the
              launch of numerous successful projects, our work is likely
              familiar to you. Startups, enterprises, conglomerates, and
              government entities alike have engaged StudioMax to chart their
              strategic next steps. Throughout our journey, we've honed a
              distinctive work approach that prioritizes agility, allowing us to
              navigate projects at an unparalleled pace. It's our secret sauce,
              but you can experience it firsthand by partnering with us.

              <span class="block"
                >Our pricing structure begins at $50,000/month.</span
              >
            </h2>
            <p class="text-base text-white max-w-sm mt-8">
              Contact us: Email: <a class="text-cyan-400" href="#_">hello@studiomax.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
