<section class="md:px-12 sm:px-8 relative border-zinc-700 2xl:border-x">
  <div class="border-x border-zinc-700 h-14"></div>
</section>
<section
  class="md:px-12 sm:px-8 relative border-y border-zinc-700 2xl:border-x"
  style=""
>
  <div class="border-x border-zinc-700">
    <div class="p-px lg:rounded-[3rem] overflow-hidden ring-1 ring-zinc-700">
      <div class="p-8 lg:p-20">
        <h2
          class="text-5xl tracking-tighter font-normal md:text-6xl text-white"
        >
          Overview
        </h2>
      </div>
      <div
        class="grid border-t border-zinc-700 text-base grid-cols-1 bg-black/50 backdrop-blur-3xl gap-px :grid-cols-3 bg-gradientTopRight"
      >
        <div class="flex flex-col gap-px">
          <div class="bg-black/90 backdrop-blur-3xl">
            <div
              class="text-white p-8 lg:px-20 bg-black/50 backdrop-blur-3xl uppercase lg:text-3xl"
            >
              Landing Pages
            </div>
          </div>
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/"
            >Landing Page One
          </a>
          <div class="bg-black/90 backdrop-blur-3xl">
            <div
              class="text-white p-8 lg:px-20 bg-black/50 backdrop-blur-3xl uppercase lg:text-3xl"
            >
              work
            </div>
          </div>
          <a
            class="text-white p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/work/all-work">All work</a
          >
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/work/case-study">Case Study</a
          >
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/infopages/about">About</a
          >
        </div>
        <div class="flex flex-col gap-px">
          <div class="bg-black/90 backdrop-blur-3xl">
            <div
              class="text-white p-8 lg:px-20 bg-black/50 backdrop-blur-3xl uppercase lg:text-3xl"
            >
              Blog
            </div>
          </div>
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/blog/blog-one">Blog home 1</a
          >
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/blog/blog-two">Blog home 2</a
          >
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/posts/1">Blog Post</a
          ><a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/tags">Tags Index</a
          ><a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/tags/HTML"
            >Tags category
          </a><a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/rss.xml">RSS</a
          >
        </div>
        <div class="flex flex-col gap-px">
          <div class="bg-black/90 backdrop-blur-3xl">
            <div
              class="text-white p-8 lg:px-20 bg-black/50 backdrop-blur-3xl uppercase lg:text-3xl"
            >
              Utility pages
            </div>
          </div>
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/infopages/faq">FAQ</a
          >
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/infopages/terms">Terms Of use</a
          ><a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/infopages/privacy">Privacy Policy</a
          ><a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/404">404</a
          >
        </div>
        <div class="flex flex-col gap-px">
          <div class="bg-black/90 backdrop-blur-3xl">
            <div
              class="text-white p-8 lg:px-20 bg-black/50 backdrop-blur-3xl uppercase lg:text-3xl"
            >
              Form pages
            </div>
          </div>
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/contact">Contact</a
          >
        </div>
        <div class="flex flex-col gap-px">
          <div class="bg-black/90 backdrop-blur-3xl">
            <div
              class="text-white p-8 lg:px-20 bg-black/50 backdrop-blur-3xl uppercase lg:text-3xl"
            >
              system pages
            </div>
          </div><a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="/system/style-guide">Style Guide</a
          >
          <a
            class="text-zinc-400 p-8 lg:px-20 bg-black hover:bg-white hover:text-black duraton-200"
            href="https://lexingtonthemes.com/license.html">License</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
