<section
  class="md:px-12 sm:px-8 relative border-zinc-700 2xl:border-x hidden md:block"
>
  <div class="border-x border-zinc-700 h-14"></div>
</section>
<section
  class="md:px-12 sm:px-8 relative border-zinc-700 border-t 2xl:border-x"
>
  <div class="border-x border-zinc-700">
    <div
      class="px-8 lg:p-20 py-24 ring-1 ring-zinc-700 lg:rounded-[3rem] bg-gradientTopRight overflow-hidden"
    >
      <h2 class="text-3xl tracking-tighter font-light lg:text-4xl text-white">
        StudioMax style guide Let's get you settled up
      </h2>
    </div>
  </div>
</section>
<section
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 2xl:border-x"
>
  <div class="border-x border-zinc-700 border-t divide-y divide-zinc-700">
    <div>
      <div class="p-8 lg:px-20">
        <p class="text-sm font-medium leading-6 text-white">
          Fonts in use: Inter /<span class="text-zinc-300">
            JetBrains Mono</span
          ><span class="text-zinc-300"> Clash display</span>
        </p>
      </div>
      <div class="divide-y divide-zinc-700 border-t border-zinc-700">
        <div class="grid grid-cols-3 items-end lg:grid-cols-4 p-8 lg:px-20">
          <div><span class="text-white">Header 1</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-5xl tracking-tighter font-normal md:text-6xl text-white"
              >Header 1</span
            >
          </div>
        </div>
        <div class="grid grid-cols-3 items-end lg:grid-cols-4 p-8 lg:px-20">
          <div><span class="text-white">Header 2</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-4xl tracking-tighter font-normal md:text-5xl text-white"
              >Header 2</span
            >
          </div>
        </div>

        <div class="grid grid-cols-3 items-end lg:grid-cols-4 p-8 lg:px-20">
          <div><span class="text-white">Link</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-sm hover:text-cyan-400 text-white">Link text</span
            >
          </div>
        </div>
        <div class="grid grid-cols-3 items-end lg:grid-cols-4 p-8 lg:px-20">
          <div><span class="text-white">Subtitle</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-zinc-300 leading-6 text-lg">Subtitle text</span>
          </div>
        </div>
        <div class="grid grid-cols-3 items-end lg:grid-cols-4 p-8 lg:px-20">
          <div><span class="text-white">Paragraph</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-zinc-300 text-base"
              >I am so happy, my dear friend, so absorbed in the exquisite sense
              of mere tranquil existence, that I neglect my talents.</span
            >
          </div>
        </div>
        <div class="grid grid-cols-3 items-end lg:grid-cols-4 p-8 lg:px-20">
          <div><span class="text-white">Caption</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-zinc-300 text-sm">Picture about somethign</span>
          </div>
        </div>
        <div class="grid grid-cols-3 items-end lg:grid-cols-4 p-8 lg:px-20">
          <div><span class="text-white">List</span></div>
          <div class="col-span-2 lg:col-span-3">
            <ul
              class="text-zinc-300 mt-6 list-decimal list-inside space-y-3 text-base"
              role="list"
            >
              <li>Next.js and/or Nuxt.js</li>
              <li>CReact Native .</li>
              <li>AWS and/or Firebase</li>
              <li>Familiarity with noSQL databases</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="p-8 lg:px-20">
        <p class="text-sm font-medium leading-6 text-white">Buttons</p>
      </div>
      <div class="flex flex-wrap gap-px w-full border-t border-zinc-700">
        <a
          class="text-sm py-2 w-full px-8 lg:px-10 uppercase border focus:ring-2 border-transparent bg-white text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-sky-500 inline-flex items-center justify-between ring-1 md:text-xl ring-zinc-700 h-16 lg:h-28"
          href="#_">Primary button</a
        >
        <a
          class="text-sm py-2 w-full px-8 lg:px-10 uppercase border focus:ring-2 border-transparent bg-black text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-sky-500 inline-flex items-center justify-between ring-1 md:text-xl ring-zinc-700 h-16 lg:h-28"
          href="#_"
          >Secondary button
        </a>
        <a
          class="text-sm py-2 w-full px-8 lg:px-10 uppercase border focus:ring-2 border-transparent bg-zinc-700 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-sky-500 inline-flex items-center justify-between ring-1 md:text-xl ring-zinc-700 h-16 lg:h-28"
          href="#_"
          >Tertiary button
        </a>
      </div>
    </div>

    <div>
      <div class="p-8 lg:px-20">
        <p class="text-sm font-medium leading-6 text-white">
          Main color palette
        </p>
      </div>
      <div class="grid grid-cols-6 gap-px">
        <div>
          <div class="bg-white lg:justify-center p-8"></div>
          <div class="bg-gradientTopRight lg:justify-center p-8"></div>
          <div class="bg-gradientBottomLeft lg:justify-center p-8"></div>
          <div class="bg-gradientToTop lg:justify-center p-8"></div>
        </div>
        <div>
          <div class="bg-cyan-50 lg:justify-center p-8"></div>
          <div class="bg-cyan-100 lg:justify-center p-8"></div>
          <div class="bg-cyan-200 lg:justify-center p-8"></div>
          <div class="bg-cyan-300 lg:justify-center p-8"></div>
          <div class="bg-cyan-400 lg:justify-center p-8"></div>
          <div class="bg-cyan-500 lg:justify-center p-8"></div>
          <div class="bg-cyan-600 lg:justify-center p-8"></div>
          <div class="bg-cyan-700 lg:justify-center p-8"></div>
          <div class="bg-cyan-800 lg:justify-center p-8"></div>
          <div class="bg-cyan-900 lg:justify-center p-8"></div>
          <div class="bg-cyan-950 lg:justify-center border-cyan-700 p-8"></div>
        </div>
        <div>
          <div class="bg-violet-50 lg:justify-center p-8"></div>
          <div class="bg-violet-100 lg:justify-center p-8"></div>
          <div class="bg-violet-200 lg:justify-center p-8"></div>
          <div class="bg-violet-300 lg:justify-center p-8"></div>
          <div class="bg-violet-400 lg:justify-center p-8"></div>
          <div class="bg-violet-500 lg:justify-center p-8"></div>
          <div class="bg-violet-600 lg:justify-center p-8"></div>
          <div class="bg-violet-700 lg:justify-center p-8"></div>
          <div class="bg-violet-800 lg:justify-center p-8"></div>
          <div class="bg-violet-900 lg:justify-center p-8"></div>
          <div class="bg-violet-950 lg:justify-center border-violet-700 p-8">
          </div>
        </div>
        <div>
          <div class="bg-pink-50 lg:justify-center p-8"></div>
          <div class="bg-pink-100 lg:justify-center p-8"></div>
          <div class="bg-pink-200 lg:justify-center p-8"></div>
          <div class="bg-pink-300 lg:justify-center p-8"></div>
          <div class="bg-pink-400 lg:justify-center p-8"></div>
          <div class="bg-pink-500 lg:justify-center p-8"></div>
          <div class="bg-pink-600 lg:justify-center p-8"></div>
          <div class="bg-pink-700 lg:justify-center p-8"></div>
          <div class="bg-pink-800 lg:justify-center p-8"></div>
          <div class="bg-pink-900 lg:justify-center p-8"></div>
          <div class="bg-pink-950 lg:justify-center border-pink-700 p-8"></div>
        </div>
        <div>
          <div class="bg-orange-50 lg:justify-center p-8"></div>
          <div class="bg-orange-100 lg:justify-center p-8"></div>
          <div class="bg-orange-200 lg:justify-center p-8"></div>
          <div class="bg-orange-300 lg:justify-center p-8"></div>
          <div class="bg-orange-400 lg:justify-center p-8"></div>
          <div class="bg-orange-500 lg:justify-center p-8"></div>
          <div class="bg-orange-600 lg:justify-center p-8"></div>
          <div class="bg-orange-700 lg:justify-center p-8"></div>
          <div class="bg-orange-800 lg:justify-center p-8"></div>
          <div class="bg-orange-900 lg:justify-center p-8"></div>
          <div class="bg-orange-950 lg:justify-center border-orange-700 p-8">
          </div>
        </div>
        <div>
          <div class="bg-zinc-50 lg:justify-center p-8"></div>
          <div class="bg-zinc-100 lg:justify-center p-8"></div>
          <div class="bg-zinc-200 lg:justify-center p-8"></div>
          <div
            class="bg-zinc-300 lg:justify-center p-8"
          >
          </div>
          <div class="bg-zinc-400 lg:justify-center p-8"></div><div
            class="bg-zinc-500 lg:justify-center p-8"
          >
          </div>
           <div class="bg-zinc-600 lg:justify-center p-8"></div>
           <div
            class="bg-zinc-700 lg:justify-center p-8"
          >
          </div><div class="bg-zinc-800 lg:justify-center p-8"></div><div
            class="bg-zinc-900 lg:justify-center p-8"
          >
          </div><div class="bg-zinc-950 lg:justify-center border-zinc-700 p-8">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
