<footer
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 scroll-mt-24 2xl:border-x"

>
  <div class="border-x border-zinc-700 divide-y divide-zinc-700">
    <div
      class="grid grid-cols-1 xl:grid-cols-3 gap-px border-white/5 rounded-4xl ring-1 ring-zinc-700 lg:rounded-[3rem] overflow-hidden"
    >
      <div
        class="text-white xl:col-span-2 uppercase font-black text-3xl bg-black flex flex-col justify-start lg:text-8xl tracking-[-0.2rem] p-8 lg:p-20"
      >
      <img src="/footer/troisiemeoeilbanner-up.webp" />
      </div>
      <div class="grid grid-cols-2 xl:grid-cols-1 gap-12 p-8 lg:p-20">
        <div class="grid md:grid-cols-3 gap-6 lg:gap-24">
          <div class="bg-black">
            <h3 class="text-zinc-400 text-base lg:text-xl">Navigation</h3>
            <div class="grid md:grid-cols-2 gap-6">
              <ul role="list" class="mt-4 text-xs space-y-2 text-white uppercase">
                <li>
                  <a href="" class="hover:text-cyan-400"> Homepage</a>
                </li>
                <li>
                  <a href="" class="hover:text-cyan-400"> Services</a>
                </li>
                <li>
                  <a href="" class="hover:text-cyan-400"> Pricing</a>
                </li>
                <li>
                  <a href="" class="hover:text-cyan-400"> Projects</a>
                </li>
                <li>
                  <a href="" class="hover:text-cyan-400">FAQ </a>
                </li>
                <li>
                  <a href="" class="hover:text-cyan-400"> CONTACT</a>
                </li>
              </ul>
            </div>
          
          </div>
          <div class="bg-black  @apply w-max">
            <h3 class="text-zinc-400 text-base lg:text-xl">Socials</h3>
            <ul role="list" class="mt-4 text-xs space-y-2 text-white uppercase">
              <li>
                <a
                  href="https://www.instagram.com/troisiemeoeildigital/"
                  target="_blank"

                  class="hover:text-cyan-400"
                >
                  IG: @troisiemeoeildigital
                </a>
              </li>
               <li>
                <a
                  href="https://www.facebook.com/troisiemeoeilagency/"
                  target="_blank"
                  class="hover:text-cyan-400"
                >
                  FB: @troisiemeoeilagency
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/troisiemeoeildigital"
                  target="_blank"
                  class="hover:text-cyan-400"
                >
                  LK: @troisiemeoeildigital
                </a>
              </li>
            </ul>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</footer>

<footer
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 scroll-mt-24 2xl:border-x"
>
  <div class="border-x border-zinc-700 divide-y divide-zinc-700">
    <div class="p-8 lg:px-20">
      <nav class="flex lg:flex-row gap-8">
        <p class="text-sm text-white">
          © <span id="CurrentYear"></span> TROISIEME OEIL DIGITAL. All rights reserved
        </p>
      </nav>
     
    </div>
  </div>
</footer>

<script> 
const d = new Date();
let year = d.getFullYear();
document.getElementById("CurrentYear").innerHTML = year.toString();
</script>
