<footer
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 scroll-mt-24 2xl:border-x"
>
  <div class="border-x border-zinc-700 divide-y divide-zinc-700">
    <div
      class="grid grid-cols-1 xl:grid-cols-3 gap-px border-white/5 rounded-4xl ring-1 ring-zinc-700 lg:rounded-[3rem] overflow-hidden"
    >
      <div
        class="text-white xl:col-span-2 uppercase font-black text-3xl bg-black flex flex-col justify-start lg:text-8xl tracking-[-0.2rem] p-8 lg:p-20"
      >
      <img src="/footer/troisiemeoeilbanner-up.webp" />
      </div>
      <div class="grid grid-cols-2 xl:grid-cols-1 gap-12 p-8 lg:p-20">
        <div class="grid md:grid-cols-2 gap-6">
          <div class="bg-black">
            <h3 class="text-white text-base lg:text-xl">Navigation</h3>
            <ul role="list" class="mt-4 text-xs space-y-2 text-white uppercase">
              <li>
                <a href="/system/overview" class="hover:text-cyan-400"> Overview</a>
              </li>
              <li>
                <a href="/system/style-guide" class="hover:text-cyan-400"> Style Guide</a>
              </li>

            </ul>
          </div>
          <div class="bg-black">
            <h3 class="text-white text-base lg:text-xl">Stay updated</h3>
            <ul role="list" class="mt-4 text-xs space-y-2 text-white uppercase">
              <li>
                <a
                  href="https://www.lexingtonthemes.com/license"
                  class="hover:text-cyan-400"
                >
                  License
                </a>
              </li>
              <li>
                <a
                  href="https://www.lexingtonthemes.com/documentation"
                  class="hover:text-cyan-400"
                >
                 Documentation
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="grid md:grid-cols-2 gap-px">
          <div class="bg-black">
            <h3 class="text-white text-base lg:text-xl">More themes</h3>
            <ul role="list" class="mt-4 text-xs space-y-2 text-white uppercase">
              <li>
                <a href="https://www.lexingtonthemes.com" class="hover:text-cyan-400">
                  Lexington
                </a>
              </li>

            </ul>
          </div>
          <div class="bg-black">
            <h3 class="text-white text-base lg:text-xl">Socials</h3>
            <ul role="list" class="mt-4 text-xs space-y-2 text-white uppercase">
              <li>
                <a
                  href="https://twitter.com/lexingtonthemes"
                  class="hover:text-cyan-400"
                >
                  @Lucas_Jamk
                </a>
              </li>
               <li>
                <a
                  href="https://twitter.com/Mike_Andreuzza"
                  class="hover:text-cyan-400"
                >
                  @Mike_Andreuzza
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 scroll-mt-24 2xl:border-x"
>
  <div class="border-x border-zinc-700 divide-y divide-zinc-700">
    <div class="p-8 lg:px-20">
      <nav class="flex lg:flex-row gap-8">
        <p class="text-sm text-white">
          © <span id="CurrentYear"></span> TROISIEME OEIL DIGITAL. All rights reserved
        </p>
      </nav>
     
    </div>
  </div>
</footer>

<script> 
const d = new Date();
let year = d.getFullYear();
document.getElementById("CurrentYear").innerHTML = year.toString();
</script>
